.item{
    
    background-color: aquamarine;
    text-align:center;
    margin: 5px;
    text-align: center;
}

.grid-container{
    display:grid;
    grid-template-columns: auto auto auto  ;
} 
.item-1{
    grid-row-start: 1;
    grid-row-end:3;
    grid-column-start: 1;
    grid-column-start: 3;
}
